  <!-- ##### Header Area Start ##### -->
  {%load static%}
  <head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>FarmAGE - Farm Services | Home</title>
  <!-- Favicon -->
   <link rel="icon" href="{% static 'img/logo1.png' %}">
  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{%static 'style.css' %}">
</head>
  <header class="header-area">
    <!-- Top Header Area -->
    <!-- Navbar Area -->
    <div class="famie-main-menu">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="famieNav">
            <!-- Nav Brand -->
            <a href="{% url 'home' %}" class="nav-brand"><img src="{% static 'img/logo1.png' %}" height="50" width="50" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>
              <!-- Navbar Start -->
              <div class="classynav">
                <ul>
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="#">Pages</a>
                    <ul class="dropdown">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about.html">About Us</a></li>
                      <li><a href="farming-practice.html">Farming Practice</a></li>
                      <li><a href="shop.html">Shop</a>
                        <ul class="dropdown">
                          <li><a href="our-product.html">Our Products</a></li>
                          <li><a href="shop.html">Shop</a></li>
                        </ul>
                      </li>
                      <li><a href="news.html">News</a>
                        <ul class="dropdown">
                          <li><a href="news.html">News</a></li>
                          <li><a href="news-details.html">News Details</a></li>
                        </ul>
                      </li>
                      <li><a href="contact.html">Contact</a></li>
                    </ul>
                  </li>
                  <li><a href="our-product.html">Our Product</a></li>
                  <li><a href="farming-practice.html">Farming Practice</a></li>
                  <li><a href="{% url 'visitpass' %}">Book Visit</a></li>
                  <li><a href="{% url 'login_view' %}">Login</a></li>
                </ul>
                <!-- Search Icon -->
                <div id="searchIcon">
                  <i class="icon_search" aria-hidden="true"></i>
                </div>
                <!-- Cart Icon -->
                <div id="cartIcon">
                  <a href="#">
                    <i class="icon_cart_alt" aria-hidden="true"></i>
                    <span class="cart-quantity">2</span>
                  </a>
                </div>
              </div>
              <!-- Navbar End -->
            </div>
          </nav>

          <!-- Search Form -->
          <div class="search-form">
            <form action="#" method="get">
              <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
              <button type="submit" class="d-none"></button>
            </form>
            <!-- Close Icon -->
            <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>
  </header>

<script src="{%static 'js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{%static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{%static 'js/bootstrap.min.js' %}"></script>
  <!-- Owl Carousel js -->
  <script src="{%static 'js/owl.carousel.min.js' %}"></script>
  <!-- Classynav -->
  <script src="{%static 'js/classynav.js' %}"></script>
  <!-- Wow js -->
  <script src="{%static 'js/wow.min.js' %}"></script>
  <!-- Sticky js -->
  <script src="{%static 'js/jquery.sticky.js' %}"></script>
  <!-- Magnific Popup js -->
  <script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>
  <!-- Scrollup js -->
  <script src="{%static 'js/jquery.scrollup.min.js' %}"></script>
  <!-- Jarallax js -->
  <script src="{%static 'js/jarallax.min.js' %}"></script>
  <!-- Jarallax Video js -->
  <script src="{%static 'js/jarallax-video.min.js' %}"></script>
  <!-- Active js -->
  <script src="{%static 'js/active.js' %}"></script>